@import 'padroes.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body{
    display: flex;
    text-align: center;
    background-image: url(/assets/img/images\ \(1\).jpeg);
    margin-top: 20px;
}
div {
    margin: 80px 100px;
    width: 600px;
    height: 500px;
    background-color: #f0f0f0;
    border-radius: 5px;
  }
  
div p {
    margin: 15px;
    color: #563505;
}

div button{
    padding: 5px;
    border-radius: 5px;
}

div button:hover{
    cursor: pointer;
    background-color: #7d4e02;
    color: white;
    transform: scale(1.1);
}

.tamanho{
    width: 40%;
    inline-size: 41%;
}
.primary{
    text-align: left;
    padding: 20px;
    font-size: 30px;
    width: 100%;   
    border-top: 20px;
    margin-left: 20px;
    color:rgb(4, 133, 25);
}

.primary h1 {
font-size: 40px;
margin-bottom: 20px;

}

#text{
    color:rgb(4, 133, 25);
    margin-top: 30px;
}
.fomulario{
    display: contents;
    width: 400%;
    height: 350px;

}

input{
    width: 90%;
    margin: 10px 15px;
    padding: 7px;
    border-radius: 4px;
}

header, h1{
    text-align: center;
    margin-top: 40px;
    color:rgb(25, 21, 4);
    font-weight: bold;
}